#modeOfPaymentSummary[data-v-81e98d75] {
	padding-bottom: 0.7rem;
}

body.check-run-form .std-form-layout .section-head,
body.check-run-form .std-form-layout .section-body,
body.check-run-form .form-footer,
body.check-run-form .form-grid {
	max-width: 100% !important;
}

body.check-run-form .form-section .form-section-description {
	max-width: 100% !important;
}

body.check-run-form .check-run-table {
	width: 100%;
}

.party-filter[data-v-3c0aadcb] {
	margin-top: 5px;
}
.table thead th[data-v-3c0aadcb] {
	vertical-align: top;
}
.checkrun-check-box[data-v-3c0aadcb] {
	vertical-align: sub; /* weird but this gives the best alignment */
}
.check-run-table td[data-v-3c0aadcb],
.check-run-table th[data-v-3c0aadcb] {
	max-height: 1.5rem;
	padding: 0.4rem;
	vertical-align: middle;
}
.table tr.selectedRow[data-v-3c0aadcb] {
	background-color: var(--yellow-highlight-color);
}
.table tr[data-v-3c0aadcb] {
	height: 50px;
}
